# IDE stuff.
.vscode
*.code-workspace

# php-cs-fixer
.php-cs-fixer.cache

# Tests.
tests/**/output/**
!tests/**/output/.gitkeep

# Tests - Python compiled bytecode cache.
*.pyc

# Installed dependencies.
vendor
